@model IEnumerable<DotNet_Project.Models.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!-- Library / Plugin Css Build -->
<link rel="stylesheet" href="~/User/assets/css/core/libs.min.css" />

<!-- flaticon css -->
<link rel="stylesheet" href="~/User/assets/vendor/flaticon/css/flaticon.css" />

<!-- font-awesome css -->
<link rel="stylesheet" href="~/User/assets/vendor/font-awesome/css/all.min.css" />


<!-- Sweetlaert2 css -->
<link rel="stylesheet" href="~/User/assets/vendor/sweetalert2/dist/sweetalert2.min.css" />

<!-- NoUI Slider css -->
<link rel="stylesheet" href="~/User/assets/vendor/noUiSilder/style/nouislider.min.css">


<!-- Kivicare Design System Css -->
<link rel="stylesheet" href="~/User/assets/css/kivicare.min5438.css?v=1.2.0" />

<!-- Custom Css -->
<link rel="stylesheet" href="~/User/assets/css/custom.min5438.css?v=1.2.0" />

<!-- Rtl Css -->
<link rel="stylesheet" href="~/User/assets/css/rtl.min5438.css?v=1.2.0" />

<!-- Customizer Css -->
<link rel="stylesheet" href="~/User/assets/css/customizer.min5438.css?v=1.2.0" />

<!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&amp;display=swap"
      rel="stylesheet">

<div class="product-home-banner section-padding bg-primary-subtle position-relative px-0 rtl-image-flip"
     style="background-image:  url('@Url.Content("~/User/assets/images/product-home/product-home-banner.png")'); background-repeat: no-repeat; background-position: top right;">
    <div class="container-fluid h-100 rtl-image-flip-container">
        <div class="row align-items-center h-100">
            <div class="col-lg-5">
                <div class="no-sub-title big-font">
                    <div class="iq-title-box">
                        <span class="iq-subtitle text-uppercase"></span>
                        <h2 class="iq-title iq-heading-title">
                            <span class="right-text text-capitalize fw-500"> Our Prices Make Your Heart</span>
                            <span class="left-text text-capitalize fw-light">Healthy Too</span>
                        </h2>
                        <p class="iq-title-desc text-body mt-3 mb-0">
                            Nulla et aliquam arcu. Sed porttitor pellentesque ultricies. Vestibulum
                            ullamcorper erat eu mi lacinia, id elementum nunc blandit. Morbi sed enim porttitor, porta
                            urna
                            eget, commodo nibh
                        </p>
                    </div>
                </div>
                <div class="pt-xl-5">
                    <div class="button-primary">
                        <div class="iq-btn-container">
                            <a class="iq-button text-capitalize" asp-action="MyShop">
                                <span class="iq-btn-text-holder position-relative">Shop Home</span>
                                <span class="iq-btn-icon-holder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 8 8"
                                         fill="none">
                                        <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                              fill="currentColor"></path>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 d-lg-block d-none"></div>
        </div>
    </div>
</div>
<div class="section-padding pb-xl-5 pb-md-2 pb-4">
    <div class="pb-xl-5">
        <div class="pb-xl-5">
            <div class="container-fluid">
                <div class="position-relative text-center">
                    <div class="scrolling-text position-absolute">
                        <div class="iq-title text-uppercase">Latest Products</div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="iq-title-box">
                        <span class="iq-subtitle text-uppercase">Product</span>
                        <h2 class="iq-title iq-heading-title">
                            <span class="right-text text-capitalize fw-500">All Our Latest</span>
                            <span class="left-text text-capitalize fw-light">Products</span>
                        </h2>
                        <p class="iq-title-desc text-body mt-3 mb-0">

                        </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5">
                        @foreach (var item in Model)
    {
                    <div class="col">
                        <div class="iq-product-box position-relative animate:hover-media">
                            <div class="iq-inner-box">
                                <a href="shop-detail.html"></a>
                                <div class="iq-product-image position-relative">
                                    <div class="animate:hover-media-wrap">
                                            <img src="@Html.DisplayFor(modelItem => item.Image)" alt="icon"
                                             class="img-fluid hover-media" loading="lazy">
                                    </div>
                                    <div class="iq-button-holder d-inline-block">
                                        <ul class="list-inline d-flex align-items-center gap-5 m-0 bg-white py-3 px-5">
                                            <li class="quick-view">
                                                    <a class="cursor-pointer" asp-action="ProDetails" asp-route-id="@item.Id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20"
                                                         viewBox="0 0 20 17" fill="none">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M13.1614 8.05311C13.1614 9.79911 11.7454 11.2141 9.99938 11.2141C8.25338 11.2141 6.83838 9.79911 6.83838 8.05311C6.83838 6.30611 8.25338 4.89111 9.99938 4.89111C11.7454 4.89111 13.1614 6.30611 13.1614 8.05311Z"
                                                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                              stroke-linejoin="round" />
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M9.998 15.3549C13.806 15.3549 17.289 12.6169 19.25 8.05292C17.289 3.48892 13.806 0.750916 9.998 0.750916H10.002C6.194 0.750916 2.711 3.48892 0.75 8.05292C2.711 12.6169 6.194 15.3549 10.002 15.3549H9.998Z"
                                                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                              stroke-linejoin="round" />
                                                    </svg>
                                                </a>
                                            </li>
                                            <li class="add-to-cart">
                                                    <a asp-action="cart" asp-controller="User" asp-route-id="@item.Id" class="cart-btn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21"
                                                         viewBox="0 0 20 21" fill="none">
                                                        <path d="M0.750122 1.24988L2.83012 1.60988L3.79312 13.0829C3.87012 14.0199 4.65312 14.7389 5.59312 14.7359H16.5021C17.3991 14.7379 18.1601 14.0779 18.2871 13.1899L19.2361 6.63188C19.3421 5.89888 18.8331 5.21888 18.1011 5.11288C18.0371 5.10388 3.16412 5.09888 3.16412 5.09888"
                                                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                              stroke-linejoin="round" />
                                                        <path d="M12.1251 8.7948H14.8981" stroke="currentColor"
                                                              stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M5.15447 18.2025C5.45547 18.2025 5.69847 18.4465 5.69847 18.7465C5.69847 19.0475 5.45547 19.2915 5.15447 19.2915C4.85347 19.2915 4.61047 19.0475 4.61047 18.7465C4.61047 18.4465 4.85347 18.2025 5.15447 18.2025Z"
                                                              fill="currentColor" stroke="currentColor" stroke-width="1.5"
                                                              stroke-linecap="round" stroke-linejoin="round" />
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M16.4347 18.2025C16.7357 18.2025 16.9797 18.4465 16.9797 18.7465C16.9797 19.0475 16.7357 19.2915 16.4347 19.2915C16.1337 19.2915 15.8907 19.0475 15.8907 18.7465C15.8907 18.4465 16.1337 18.2025 16.4347 18.2025Z"
                                                              fill="currentColor" stroke="currentColor" stroke-width="1.5"
                                                              stroke-linecap="round" stroke-linejoin="round" />
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="iq-on-new badge bg-primary">New</span>
                                </div>
                                <div class="product-caption text-center mt-3">
                                        <span class="iq-category">@Html.DisplayFor(modelItem => item.CIdNavigation.Name)</span>
                                    <h5 class="product-title mt-1 mb-2">
                                            <a asp-action="ProDetails" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                                    </h5>
                                    <h6 class="price-value fw-semibold mb-2">
                                            PKR - @Html.DisplayFor(modelItem => item.Price)
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-5">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="p-5 rtl-image-flip"
                     style="background-image: url('@Url.Content("~/User/assets/images/product-home/banner.jpg")'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
                    <div class="p-lg-5 rtl-image-flip-container">
                        <div class="iq-title-box">
                            <span class="iq-subtitle text-uppercase">UPTO 50% OFF</span>
                            <h2 class="iq-title iq-heading-title">
                                <span class="right-text text-capitalize fw-500">
                                    Super
                                    Offer
                                </span>
                                <span class="left-text text-capitalize fw-light"></span>
                            </h2>
                            <p class="iq-title-desc text-body mt-3 mb-0">
                                amazing deals are here . Grab the offer
                            </p>
                        </div>
                        <div class="button-primary pt-md-5">
                            <div class="iq-btn-container">
                                <a class="iq-button text-capitalize" asp-action="MyShop">
                                    <span class="iq-btn-text-holder position-relative">Order Now</span>
                                    <span class="iq-btn-icon-holder">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 8 8"
                                             fill="none">
                                            <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5 rtl-image-flip"
                     style="background-image: url('@Url.Content("~/User/assets/images/product-home/banner2.jpg")'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
                    <div class="p-lg-5 rtl-image-flip-container">
                        <div class="iq-title-box">
                            <span class="iq-subtitle text-uppercase">Now & Never</span>
                            <h2 class="iq-title iq-heading-title">
                                <span class="right-text text-capitalize fw-500">
                                    Upto 70%
                                    Off
                                </span>
                                <span class="left-text text-capitalize fw-light"></span>
                            </h2>
                            <p class="iq-title-desc text-body mt-3 mb-0">
                                amazing deals are here . Grab the offer
                            </p>
                        </div>
                        <div class="pt-md-5">
                            <div class="iq-btn-container">
                                <a class="iq-button text-capitalize" asp-action="MyShop">
                                    <span class="iq-btn-text-holder position-relative">Order Now</span>
                                    <span class="iq-btn-icon-holder">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 8 8"
                                             fill="none">
                                            <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-padding pb-xl-5 pb-md-2 pb-4">
    <div class="pb-xl-5">
        <div class="pb-xl-5">
            <div class="container-fluid">
                <div class="position-relative text-center">
                    <div class="scrolling-text position-absolute">
                        <div class="iq-title text-uppercase">Best selling Products</div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="iq-title-box">
                        <span class="iq-subtitle text-uppercase">Product</span>
                        <h2 class="iq-title iq-heading-title">
                            <span class="right-text text-capitalize fw-500">Best selling</span>
                            <span class="left-text text-capitalize fw-light">Products</span>
                        </h2>
                        <p class="iq-title-desc text-body mt-3 mb-0">

                        </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 mb-n5">

                    <div class="col">
                        <div class="iq-product-box position-relative animate:hover-media">
                            <div class="iq-inner-box">
                                <a href="shop-detail.html"></a>
                                <div class="iq-product-image position-relative">
                                    <div class="animate:hover-media-wrap">
                                        <img src="~/User/assets/images/shop/product-3.html" alt="icon"
                                             class="img-fluid hover-media" loading="lazy">
                                    </div>
                                    <div class="iq-button-holder d-inline-block">
                                        <ul class="list-inline d-flex align-items-center gap-5 m-0 bg-white py-3 px-5">
                                            <li class="quick-view">
                                                <a class="cursor-pointer" data-bs-toggle="modal"
                                                   data-bs-target="#woosq-popup">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20"
                                                         viewBox="0 0 20 17" fill="none">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M13.1614 8.05311C13.1614 9.79911 11.7454 11.2141 9.99938 11.2141C8.25338 11.2141 6.83838 9.79911 6.83838 8.05311C6.83838 6.30611 8.25338 4.89111 9.99938 4.89111C11.7454 4.89111 13.1614 6.30611 13.1614 8.05311Z"
                                                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                              stroke-linejoin="round" />
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M9.998 15.3549C13.806 15.3549 17.289 12.6169 19.25 8.05292C17.289 3.48892 13.806 0.750916 9.998 0.750916H10.002C6.194 0.750916 2.711 3.48892 0.75 8.05292C2.711 12.6169 6.194 15.3549 10.002 15.3549H9.998Z"
                                                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                              stroke-linejoin="round" />
                                                    </svg>
                                                </a>
                                            </li>
                                            <li class="add-to-cart">
                                                <a href="#" class="cart-btn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21"
                                                         viewBox="0 0 20 21" fill="none">
                                                        <path d="M0.750122 1.24988L2.83012 1.60988L3.79312 13.0829C3.87012 14.0199 4.65312 14.7389 5.59312 14.7359H16.5021C17.3991 14.7379 18.1601 14.0779 18.2871 13.1899L19.2361 6.63188C19.3421 5.89888 18.8331 5.21888 18.1011 5.11288C18.0371 5.10388 3.16412 5.09888 3.16412 5.09888"
                                                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                              stroke-linejoin="round" />
                                                        <path d="M12.1251 8.7948H14.8981" stroke="currentColor"
                                                              stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M5.15447 18.2025C5.45547 18.2025 5.69847 18.4465 5.69847 18.7465C5.69847 19.0475 5.45547 19.2915 5.15447 19.2915C4.85347 19.2915 4.61047 19.0475 4.61047 18.7465C4.61047 18.4465 4.85347 18.2025 5.15447 18.2025Z"
                                                              fill="currentColor" stroke="currentColor" stroke-width="1.5"
                                                              stroke-linecap="round" stroke-linejoin="round" />
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M16.4347 18.2025C16.7357 18.2025 16.9797 18.4465 16.9797 18.7465C16.9797 19.0475 16.7357 19.2915 16.4347 19.2915C16.1337 19.2915 15.8907 19.0475 15.8907 18.7465C15.8907 18.4465 16.1337 18.2025 16.4347 18.2025Z"
                                                              fill="currentColor" stroke="currentColor" stroke-width="1.5"
                                                              stroke-linecap="round" stroke-linejoin="round" />
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-caption text-center mt-3">
                                    <span class="iq-category">Health Care,Physical</span>
                                    <h5 class="product-title mt-1 mb-2">
                                        <a href="product-standard.html">Hand Sanitizer Bottle</a>
                                    </h5>
                                    <h6 class="price-value fw-semibold mb-2">
                                        PKR - 90
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-padding px-0">
    <div class="container-fluid">
        <div class="row gy-5">
            <div class="col-lg-3 col-sm-6">
                <div class="iq-icon-box column d-flex align-items-center gap-2">
                    <div class="icon-box-img">
                        <img src="~/User/assets/images/product-home/Traced.png" alt="icon" class="img-fluid" loading="lazy">
                    </div>
                    <div class="icon-box-content">
                        <h5 class="icon-box-title">Free Shipping Worldwide</h5>
                        <p class="icon-box-desc mb-0">For all order over $200</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="iq-icon-box column d-flex align-items-center gap-2">
                    <div class="icon-box-img">
                        <img src="~/User/assets/images/product-home/back.png" alt="icon" class="img-fluid" loading="lazy">
                    </div>
                    <div class="icon-box-content">
                        <h5 class="icon-box-title">Easy Return Avaliable</h5>
                        <p class="icon-box-desc mb-0">Return product within 31 days</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="iq-icon-box column d-flex align-items-center gap-2">
                    <div class="icon-box-img">
                        <img src="~/User/assets/images/product-home/doller.png" alt="icon" class="img-fluid" loading="lazy">
                    </div>
                    <div class="icon-box-content">
                        <h5 class="icon-box-title">Secure Payment</h5>
                        <p class="icon-box-desc mb-0">Payment is 100% secure</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="iq-icon-box column d-flex align-items-center gap-2">
                    <div class="icon-box-img">
                        <img src="~/User/assets/images/product-home/Traced.png" alt="icon" class="img-fluid" loading="lazy">
                    </div>
                    <div class="icon-box-content">
                        <h5 class="icon-box-title">Customer Support</h5>
                        <p class="icon-box-desc mb-0">24 hours support avaliable</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Library Bundle Script -->
<script src="~/User/assets/js/core/libs.min.js"></script>
<!-- Plugin Scripts -->
<!-- Slider-tab Script -->
<script src="~/User/assets/js/plugins/slider-tabs.js"></script>

<!-- fslightbox Script -->
<script src="~/User/assets/js/plugins/fslightbox.js" defer></script>

<!-- Sweet-alert Script -->
<script src="~/User/assets/vendor/sweetalert2/dist/sweetalert2.min.js" async></script>
<script src="~/User/assets/js/plugins/sweet-alert.js" defer></script>


<!-- Select2 Script -->
<script src="~/User/assets/js/plugins/select2.js" defer></script>

<!-- NoUI Slider Script -->
<script src="~/User/assets/vendor/noUiSilder/script/nouislider.min.js"></script>

<!-- Lodash Utility -->
<script src="~/User/assets/vendor/lodash/lodash.min.js"></script>
<!-- Utilities Functions -->
<script src="~/User/assets/js/iqonic-script/utility.min.js"></script>
<!-- Settings Script -->
<script src="~/User/assets/js/iqonic-script/setting.min.js"></script>
<!-- Settings Init Script -->
<script src="~/User/assets/js/iqonic-script/setting-init.js"></script>
<!-- External Library Bundle Script -->
<script src="~/User/assets/js/core/external.min.js"></script>
<!-- Kivicare Script -->
<script src="~/User/assets/js/kivicare5438.js?v=1.2.0" defer></script>
<script src="~/User/assets/js/kivicare-advance5438.js?v=1.2.0" defer></script>
<!-- Kivicare Pages Script -->
<script src="~/User/assets/js/slider.js" defer></script>
<script src="~/User/assets/js/scroll-text.js" defer></script>