@model IEnumerable<DotNet_Project.Models.Job>

@{
    ViewData["Title"] = "JobDetails";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!-- Library / Plugin Css Build -->
<link rel="stylesheet" href="~/User/assets/css/core/libs.min.css" />

<!-- flaticon css -->
<link rel="stylesheet" href="~/User/assets/vendor/flaticon/css/flaticon.css" />

<!-- font-awesome css -->
<link rel="stylesheet" href="~/User/assets/vendor/font-awesome/css/all.min.css" />


<!-- Sweetlaert2 css -->
<link rel="stylesheet" href="~/User/assets/vendor/sweetalert2/dist/sweetalert2.min.css" />

<!-- NoUI Slider css -->
<link rel="stylesheet" href="~/User/assets/vendor/noUiSilder/style/nouislider.min.css">


<!-- Kivicare Design System Css -->
<link rel="stylesheet" href="~/User/assets/css/kivicare.min5438.css?v=1.2.0" />

<!-- Custom Css -->
<link rel="stylesheet" href="~/User/assets/css/custom.min5438.css?v=1.2.0" />

<!-- Rtl Css -->
<link rel="stylesheet" href="~/User/assets/css/rtl.min5438.css?v=1.2.0" />

<!-- Customizer Css -->
<link rel="stylesheet" href="~/User/assets/css/customizer.min5438.css?v=1.2.0" />

<!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&amp;display=swap"
      rel="stylesheet">

<div class="section-padding team-detail">
    <div class="container">
        <div class="row">
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }

            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="team-member-info">
                        <div class="iq-team-block team-overdetail position-relative p-2">
                            <div class="iq-team-img">
                                <img src="@Html.DisplayFor(modelItem => item.Image)" alt="team" class="img-fluid w-100" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 mt-lg-0 mt-5">
                    <div class="iq-title-box">
                        <h3 class="iq-title iq-heading-title mb-3">
                            <span class="right-text text-capitalize">@Html.DisplayFor(modelItem => item.Title)</span>
                        </h3>
                        <h5 class="right-text text-capitalize fw-light">@Html.DisplayFor(modelItem => item.Department)</h5>
                        <p class="iq-title-desc text-body mt-3">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row g-3">
                                <div class="col-sm-6 mt-2">
                                    <div class="d-flex justify-content-center align-items-center px-3 pt-2 pb-3 border">
                                        <div class="text-primary">
                                            <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                                        </div>
                                        <h6 class="mt-1 mb-0 ms-2">@Html.DisplayFor(modelItem => item.Location)</h6>
                                    </div>
                                </div>

                                <div class="col-sm-4 mt-2">
                                    <div class="d-flex justify-content-center align-items-center px-3 pt-2 pb-3 border">
                                        <div class="text-primary">
                                            <i class="fas fa-briefcase" aria-hidden="true"></i>
                                        </div>
                                        <h6 class="mt-1 mb-0 ms-2">@Html.DisplayFor(modelItem => item.EmpType)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5 px-5 py-3 border">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <h5 class="m-0">Work</h5>
                            </div>
                            <div class="col-md-10 mt-md-0 mt-2">
                                <span class="text-primary"><i class="fas fa-clock"></i></span>
                                <span class="ms-1">@Html.DisplayFor(modelItem => item.ApplicationDateTime)</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 px-5 py-3 border">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <h5 class="m-0">Education</h5>
                            </div>
                            <div class="col-md-10 mt-md-0 mt-2">
                                <ul class="list-inline m-0">
                                    <li class="mb-2">
                                        <span class="text-primary"><i class="fas fa-check"></i></span>
                                        <span class="ms-1">@Html.DisplayFor(modelItem => item.Qualification)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 px-5 py-3 border">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <h5 class="m-0">Experience</h5>
                            </div>
                            <div class="col-md-10 mt-md-0 mt-2">
                                <span class="text-primary"><i class="fas fa-check"></i></span>
                                <span class="ms-1">@Html.DisplayFor(modelItem => item.Experience)</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 px-5 py-3 border">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <h5 class="m-0">Skills</h5>
                            </div>
                            <div class="col-md-10 mt-md-0 mt-2">
                                <span class="text-primary"><i class="fas fa-check"></i></span>
                                <span class="ms-1">@Html.DisplayFor(modelItem => item.Skills)</span>
                            </div>
                        </div>
                    </div>

                    <!-- Salary Section -->
                    <div class="mt-3 px-5 py-3 border">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <h5 class="m-0">Salary</h5>
                            </div>
                            <div class="col-md-10 mt-md-0 mt-2">
                                <span class="text-primary">PKR - </span>
                                <span class="ms-1">@Html.DisplayFor(modelItem => item.Salary)</span>
                            </div>
                        </div>
                    </div>

                    <!-- Apply Now Form -->
                    <form asp-action="ApplyJob" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="JobId" value="@item.Id" />

                        <!-- Check if user is logged in -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="mt-4" id="apply-button-container">
                                <!-- Apply Now button -->
                                <button type="button" class="btn btn-primary" id="apply-now-button" onclick="showResumeUpload()">Apply Now</button>
                            </div>

                            <!-- Hidden form for resume upload, initially hidden -->
                            <div class="resume-upload mt-4" id="resume-upload-form" style="display: none;">
                                <div class="form-group">
                                    <label for="resume">Upload your Resume</label>
                                    <input type="file" class="form-control" name="Resume" required />
                                </div>
                                <button type="submit" class="btn btn-primary">Submit Application</button>
                            </div>
                        }
                        else
                        {
                            <!-- Optionally, inform the user they need to log in -->
                            <p>Please log in to apply for the job and upload your resume.</p>
                        }
                    </form>

                    <script>
                        function showResumeUpload() {
                            // Hide the "Apply Now" button
                            document.getElementById('apply-now-button').style.display = 'none';

                            // Show the resume upload form
                            document.getElementById('resume-upload-form').style.display = 'block';
                        }
                    </script>


                </div>
            }
        </div>

    </div>
</div>
@if (ViewBag.message != null)
{
    <b> @ViewBag.message</b>
}


<!-- Library Bundle Script -->
<script src="~/User/assets/js/core/libs.min.js"></script>
<!-- Plugin Scripts -->
<!-- Slider-tab Script -->
<script src="~/User/assets/js/plugins/slider-tabs.js"></script>

<!-- fslightbox Script -->
<script src="~/User/assets/js/plugins/fslightbox.js" defer></script>

<!-- Sweet-alert Script -->
<script src="~/User/assets/vendor/sweetalert2/dist/sweetalert2.min.js" async></script>
<script src="~/User/assets/js/plugins/sweet-alert.js" defer></script>


<!-- Select2 Script -->
<script src="~/User/assets/js/plugins/select2.js" defer></script>

<!-- NoUI Slider Script -->
<script src="~/User/assets/vendor/noUiSilder/script/nouislider.min.js"></script>

<!-- Lodash Utility -->
<script src="~/User/assets/vendor/lodash/lodash.min.js"></script>
<!-- Utilities Functions -->
<script src="~/User/assets/js/iqonic-script/utility.min.js"></script>
<!-- Settings Script -->
<script src="~/User/assets/js/iqonic-script/setting.min.js"></script>
<!-- Settings Init Script -->
<script src="~/User/assets/js/iqonic-script/setting-init.js"></script>
<!-- External Library Bundle Script -->
<script src="~/User/assets/js/core/external.min.js"></script>
<!-- Kivicare Script -->
<script src="~/User/assets/js/kivicare5438.js?v=1.2.0" defer></script>
<script src="~/User/assets/js/kivicare-advance5438.js?v=1.2.0" defer></script>
<!-- Kivicare Pages Script -->
<script src="~/User/assets/js/slider.js" defer></script>
<script src="~/User/assets/js/scroll-text.js" defer></script>
