@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var havePastOrders = (bool)ViewData["HavePastOrders"];
}
<!-- Library / Plugin Css Build -->
<link rel="stylesheet" href="~/User/assets/css/core/libs.min.css" />

<!-- flaticon css -->
<link rel="stylesheet" href="~/User/assets/vendor/flaticon/css/flaticon.css" />

<!-- font-awesome css -->
<link rel="stylesheet" href="~/User/assets/vendor/font-awesome/css/all.min.css" />


<!-- Sweetlaert2 css -->
<link rel="stylesheet" href="~/User/assets/vendor/sweetalert2/dist/sweetalert2.min.css" />

<!-- NoUI Slider css -->
<link rel="stylesheet" href="~/User/assets/vendor/noUiSilder/style/nouislider.min.css">


<!-- Kivicare Design System Css -->
<link rel="stylesheet" href="~/User/assets/css/kivicare.min5438.css?v=1.2.0" />

<!-- Custom Css -->
<link rel="stylesheet" href="~/User/assets/css/custom.min5438.css?v=1.2.0" />

<!-- Rtl Css -->
<link rel="stylesheet" href="~/User/assets/css/rtl.min5438.css?v=1.2.0" />

<!-- Customizer Css -->
<link rel="stylesheet" href="~/User/assets/css/customizer.min5438.css?v=1.2.0" />

<!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&amp;display=swap"
      rel="stylesheet">


<div class="section-padding pb-xl-5 pb-md-2 pb-4">
    <div class="pb-xl-5">
        <div class="pb-xl-5">
            <div class="container-fluid">
                <div class="position-relative text-center">
                    <div class="scrolling-text position-absolute">
                        <div class="iq-title text-uppercase">Your Profile</div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="iq-title-box">
                        <span class="iq-subtitle text-uppercase">My Purchases</span>
                        <h2 class="iq-title iq-heading-title">
                            <span class="right-text text-capitalize fw-500">All Your</span>
                            <span class="left-text text-capitalize fw-light">Past Purchases</span>
                        </h2>
                        <p class="iq-title-desc text-body mt-3 mb-0">
                            Explore the products you’ve purchased before.
                        </p>
                    </div>

                    @if (havePastOrders)
                    {
                        <div class="container">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5">

                                @foreach (var item in Model)
                                {
                                    <div class="col">
                                        <div class="iq-product-box position-relative animate:hover-media">
                                            <div class="iq-inner-box">
                                                <a href="shop-detail.html"></a>
                                                <div class="iq-product-image position-relative">
                                                    <div class="animate:hover-media-wrap">
                                                        <img src="/@item.ImageLink.Substring(1)"
                                                             class="img-fluid hover-media" loading="lazy" alt="@item.Name">
                                                    </div>
                                                    <div class="iq-button-holder d-inline-block">
                                                        <ul class="list-inline d-flex align-items-center gap-5 m-0 bg-white py-3 px-5">
                                                            <li class="quick-view">
                                                                <a class="cursor-pointer" asp-action="ProDetails" asp-route-id="@item.ProductId">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20"
                                                                         viewBox="0 0 20 17" fill="none">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                              d="M13.1614 8.05311C13.1614 9.79911 11.7454 11.2141 9.99938 11.2141C8.25338 11.2141 6.83838 9.79911 6.83838 8.05311C6.83838 6.30611 8.25338 4.89111 9.99938 4.89111C11.7454 4.89111 13.1614 6.30611 13.1614 8.05311Z"
                                                                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                                              stroke-linejoin="round" />
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                              d="M9.998 15.3549C13.806 15.3549 17.289 12.6169 19.25 8.05292C17.289 3.48892 13.806 0.750916 9.998 0.750916H10.002C6.194 0.750916 2.711 3.48892 0.75 8.05292C2.711 12.6169 6.194 15.3549 10.002 15.3549H9.998Z"
                                                                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                                              stroke-linejoin="round" />
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                            <li class="add-to-cart">
                                                                <a asp-action="cart" asp-controller="User" asp-route-id="@item.ProductId" class="cart-btn">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21"
                                                                         viewBox="0 0 20 21" fill="none">
                                                                        <path d="M0.750122 1.24988L2.83012 1.60988L3.79312 13.0829C3.87012 14.0199 4.65312 14.7389 5.59312 14.7359H16.5021C17.3991 14.7379 18.1601 14.0779 18.2871 13.1899L19.2361 6.63188C19.3421 5.89888 18.8331 5.21888 18.1011 5.11288C18.0371 5.10388 3.16412 5.09888 3.16412 5.09888"
                                                                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                                              stroke-linejoin="round" />
                                                                        <path d="M12.1251 8.7948H14.8981" stroke="currentColor"
                                                                              stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                              d="M5.15447 18.2025C5.45547 18.2025 5.69847 18.4465 5.69847 18.7465C5.69847 19.0475 5.45547 19.2915 5.15447 19.2915C4.85347 19.2915 4.61047 19.0475 4.61047 18.7465C4.61047 18.4465 4.85347 18.2025 5.15447 18.2025Z"
                                                                              fill="currentColor" stroke="currentColor" stroke-width="1.5"
                                                                              stroke-linecap="round" stroke-linejoin="round" />
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                              d="M16.4347 18.2025C16.7357 18.2025 16.9797 18.4465 16.9797 18.7465C16.9797 19.0475 16.7357 19.2915 16.4347 19.2915C16.1337 19.2915 15.8907 19.0475 15.8907 18.7465C15.8907 18.4465 16.1337 18.2025 16.4347 18.2025Z"
                                                                              fill="currentColor" stroke="currentColor" stroke-width="1.5"
                                                                              stroke-linecap="round" stroke-linejoin="round" />
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    @* <span class="iq-on-new badge bg-primary">New</span> *@
                                                </div>
                                                <div class="product-caption text-center mt-3">
                                                    <h5 class="product-title mt-1 mb-2">
                                                        <a asp-action="ProDetails" asp-route-id="@item.Id">@item.Name</a>
                                                    </h5>
                                                    <h6 class="price-value fw-semibold mb-2">
                                                        PKR - @item.Price
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center align-items-center vh-100">
                            <p class="text-muted fs-4">You have no past purchases.</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
